.about{
    margin-bottom: 100px;
}

.heading{
    font-size: 3em;
    font-family: "Kalnia", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.box{
    border-radius: 3em;
    background-color: #1f2224;
    transition: 0.3s;
}

.head{
    font-size: 2em;
    font-family: "Kalnia", serif;
    font-weight: 400;
    font-style: normal;
    color: #4b87b9;
}

.introduction{
    border-left: 3px solid #B0C4DE;
    width: 65%;
}

.lines{
    font-size: 1.2em;
    font-weight: 300;
    font-family: "Marcellus", serif;
    color: white;
}

.experience{
    border-left: 3px solid #B0C4DE;
    width: 65%;
}

.company-name{
    font-size: 1.2em;
    font-family: "Marcellus", serif;
    font-weight: 800;
    color: #B0C4DE;
}

.timeline{
    font-size: 1.1em;
    font-family: "Marcellus", serif;
    font-weight: 500;
    color: #B0C4DE;
}

.links{
    display: inline;
    font-family: "Marcellus", serif;
    font-size: 1em;
    text-decoration: underline;
    color: #B0C4DE;
}
