.contact{
    font-family: "Marcellus", serif;
}

#name{
    background-color: rgba(0, 91, 91, 0.20);
    border: none;
    color: #20B2AA;
    font-size: 1em;
}

#name:focus, #name:hover{
    outline: none;
    border: none;
    box-shadow: none;
}

#email{
    background-color: rgba(0, 91, 91, 0.20);
    border: none;
    color: #20B2AA;
    font-size: 1em;
}

#email:focus, #email:hover{
    outline: none;
    border: none;
    box-shadow: none;
}

#subject{
    background-color: rgba(0, 91, 91, 0.20);
    border: none;
    color: #20B2AA;
    font-size: 1em;
}

#subject:focus, #subject:hover{
    outline: none;
    border: none;
    box-shadow: none;
}

#message{
    border: none;
    background-color: rgba(0, 91, 91, 0.20);
    height: 150px;
    color: #20B2AA;
    font-size: 1em;
}

#message:focus, #message:hover{
    outline: none;
    border: none;
    box-shadow: none;
}

#name::placeholder,#email::placeholder,#subject::placeholder,#message::placeholder{
    color: #20B2AA;
}

.form-control:focus, .form-control:hover{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}