.home{
    height: 100vh;
}

.vertical-line {
    border-left: 1px solid #808080;
    height: 50%;
}  

.hv-home-col1-div1{
    font-family: "Philosopher";
    color: #FF6347;
    font-size: 3em;
}

.hv-home-col1-div2{
    font-family: "PT Serif", serif;
    color: #C0C0C0;
    font-size: 1.5em;
}

.hv-btn{
    background-color: #412a25;
    font-family: sans-serif;
    color: #FF6347;
    border-radius: 2em;
    border: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    cursor: none;
    transition: 0.3s;
}

.hv-btn:hover{
    cursor: none;
    background-color: #FF6347;
    color: white;
    border: none;
}

.links{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0.5em;
    width: fit-content;
    height: 2em;
}

div{
    color: #8e8e8e;
}

.link-img{
    width: 2em;
    height: 2em;
}

.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, #DCDCDC, #1b1b1b);
    overflow: hidden;
    position: relative;
    border: 2px solid #C0C0C0;
    transition: 0.5s;
}

.circle:hover{
    cursor: none;
}

#avatar{
    width: 300px;
    height: 240px;
    position: absolute;
    bottom: 0em;
}

@media screen and (width <= 576px) {
    .hv-home-col1-div1{
        font-size: 1.8em;
    }

    .hv-home-col1-div2{
        font-size: 1.3em;
    }

    .circle{
        width: 200px;
        height: 200px;
    }
    
    #avatar{
        width: 200px;
        height: 150px;
    }
}

@media screen and (576px <= width <= 768px) {
    .hv-home-col1-div1{
        font-size: 2em;
    }

    .hv-home-col1-div2{
        font-size: 1.5em;
    }

    .circle{
        width: 250px;
        height: 250px;
    }
    
    #avatar{
        width: 250px;
        height: 200px;
    }
}