.home{
    height: fit-content;
    margin-bottom: 100px;
}

.col1{
    border-radius: 3em;
    background-image: linear-gradient(to bottom right, #26292c, #1e272f);
    height: fit-content;
}

.vertical-line {
    border-left: 1px solid #808080;
    height: 50%;
}  

.hv-home-col1-div1{
    font-family: "Kalnia", serif;
    color: #B0C4DE;
    font-size: 3em;
}

.hv-home-col1-div2{
    font-family: "Marcellus", serif;
    color: white;
    font-size: 1.5em;
}

.hv-btn{
    background-color: #16476f;
    font-family: "Marcellus", serif;
    color: #c4d5eb;
    border-radius: 2em;
    border: none;
    padding: 0.8em;
    cursor: pointer;
    font-weight: bold;
}

.hv-btn:hover{
    background-color: #8ea8c9;
    color: #021e36;
}

.links{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0.5em;
    width: fit-content;
    height: 2em;
}

div{
    color: #8e8e8e;
}

.link-img{
    width: 2em;
    height: 2em;
}

.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, #d3e5f4, #29618f);
    overflow: hidden;
    position: relative;
    border: 3px solid #B0C4DE;
    transition: 0.5s;
}

#avatar{
    width: 300px;
    height: 240px;
    position: absolute;
    bottom: 0em;
}

@media screen and (width <= 576px) {
    .hv-home-col1-div1{
        font-size: 1.8em;
    }

    .hv-home-col1-div2{
        font-size: 1.3em;
    }

    .circle{
        width: 200px;
        height: 200px;
    }
    
    #avatar{
        width: 200px;
        height: 150px;
    }
}

@media screen and (576px <= width <= 768px) {
    .hv-home-col1-div1{
        font-size: 2em;
    }

    .hv-home-col1-div2{
        font-size: 1.5em;
    }

    .circle{
        width: 250px;
        height: 250px;
    }
    
    #avatar{
        width: 250px;
        height: 200px;
    }
}