.hv-nav{
    backdrop-filter: blur(30px);
    background-color: rgba(11, 11, 13, 0.8);
    transition: 0.3s;
    border-bottom: 1px solid #2a2a2a;
}

.link{
    text-decoration: none;
    cursor: pointer;
}

.link:hover{
    text-decoration: none;
}

.logo{
    font-size: 2.5em;
    font-family: "Kalnia", serif;
    font-weight: 400;
    font-style: normal;
    color: #4682B4;
    cursor: pointer;
}

.dot{
    font-size: 3.5em;
    font-family: "Kalnia", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    cursor: pointer;
}

.toggle-btn{
    background-color: transparent;
    border: none;
    color: white;
}

.toggle{
    font-size: 2em;
}

.bar{
    background-color: rgba(50, 59, 64, 0.45);
    border-radius: 10em;
    backdrop-filter: blur(30px);
}

.toggle:hover{
    cursor: pointer;
}

.link-name{
    font-family: "Marcellus", serif;
    font-size: 1em;
    color: #D3D3D3;
    text-decoration: none;
    transition: 0.2s;
}

.item{
    border-radius: 1.5em;
    text-decoration: none;
    transition: 0.1s;
}

.item:hover{
    background-color: rgb(25, 25, 25);
    text-decoration: none;
}