.hv-nav{
    background-color: rgb(27, 27, 27);
}

#hv{
    margin: 0.5em;
    width: 270px;
    height: 60px;
}

.link-name{
    font-family: 'Philosopher', serif;
    font-size: 1.2em;
    color: #D3D3D3;
    text-decoration: none;
    font-weight: 500;
}

.link-name:hover{
    border-bottom: 3px solid #6A5ACD;
}