.skill-box{
    border: 1.5px solid #1f2224;
    border-radius: 1em;
    transition: 0.3s;
}

.skill-box:hover{
    background-color: #1f2224;
}

.skill-secction-name{
    color: #7dacd5;
    font-size: 1.2em;
    font-family: "Kalnia", serif;
    font-weight: 400;
    font-style: normal;
}

.skill-name{
    margin: 0.5em;
    font-family: "Marcellus", serif;
    padding: 1em;
    font-size: 1em;
    border: 1px solid #486985;
    border-radius: 1.5em;
    width: fit-content;
    background-color: #181d21;
    color: #7dacd5;
    transition: 0.3s;
}

.skill-name:hover{
    background-color: #8ea8c9;
    border: 1px solid #8ea8c9;
    color: #011323;
}

@media screen and (width <= 356px) {

    .skill-name{
        margin: 0.5em;
        padding: 1em;
        font-size: 0.75em;
    }
    
}

@media screen and (356px <= width <= 576px) {

    .skill-name{
        margin: 0.5em;
        padding: 1em;
        font-size: 0.75em;
    }
    
}

@media screen and (576px <= width <= 768px) {

    .skill-name{
        margin: 0.5em;
        padding: 1em;
        font-size: 0.8em;
    }

}

@media screen and (768px <= width <= 992px) {

    .skill-name{
        margin: 0.5em;
        padding: 1em;
        font-size: 0.85em;
    }
    
}

@media screen and (992px <= width <= 1200px) {

    .skill-name{
        margin: 0.5em;
        padding: 1em;
        font-size: 0.9em;
    }
    
}

@media screen and (1200px <= width <= 1300px) {

    .skill-name{
        margin: 0.5em;
        padding: 1em;
        font-size: 0.95em;
    }
    
}

@media screen and (1300px <= width <= 1400px) {

    .skill-name{
        margin: 0.5em;
        padding: 1em;
        font-size: 1em;
    }
    
}