.skills{
    margin-bottom: 100px;
}

.skill-box{
    border: 1.5px solid #1f2224;
    border-radius: 1em;
    transition: 0.3s;
}

.skill-box:hover{
    background-color: #1f2224;
}

.skill-secction-name{
    color: #7dacd5;
    font-size: 1.2em;
    font-family: "Kalnia", serif;
    font-weight: 400;
    font-style: normal;
}

.skill-name{
    margin: 0.5em;
    font-family: "Marcellus", serif;
    padding: 1em;
    font-size: 0.8em;
    border: 1px solid #486985;
    border-radius: 1.5em;
    width: fit-content;
    background-color: #181d21;
    color: #7dacd5;
    transition: 0.3s;
}

.skill-name:hover{
    background-color: #8ea8c9;
    border: 1px solid #8ea8c9;
    color: #011323;
}